@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    margin:0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    height: 30%;

}
.center2{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-content: center;

}
.head1{
    background-color: rgb(51, 103, 214);
    width:100%;
    height:80px;
    padding-left: 17%;
    box-sizing: border-box;
    padding-top:8px; 
    
       
}
#h1{
margin: 0;
}
h3{
    color: rgba(0, 0, 0, 0.733);
font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
    
.header_text{
    
    margin-top:0;
    text-align: left;
    color: white;
    font-family: 'Playfair Display', serif;
    }
    #h1_image{
        font-size: 8.5em;
        color: white;
    }
   
    .img_c{
   
        width:1200px;
        height:500px;
        margin: auto;
        }  
    .img{
        
        background-origin: content-box;
        background-repeat: no-repeat;
        background-size : contain;
        height:500px ;
        width: 1200px;
        background: url("../images/books.jpg") 50%/cover;
        
    }
    .d_k{
        background: rgba(0, 0, 0, 0.329);
        width:100%;
        height: 100%;
        display: flex;
    justify-content: center;
    align-content: center;
        }
.the_main1{
width: 80%;
height: 30%;
margin: auto;
margin-bottom: 30px;
}
.main_menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: -203px;
    top: 0;
    background:whitesmoke;
    transition: 1s;
    border: 2px inset black;
    padding-left: 10px;
    box-sizing: border-box;
    }
    
    .menu_open {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -40px;
    top: 0;
    background:url("../images/iconb.png") 50%/cover;
    
    }
    
    .main_menu_open {
    left: 0;
    
    }
  
    .footer{
       height: 10vh;
        width: 100%;
        border-top: 2px inset rgb(51, 103, 214);
        padding-left:50px;
        box-sizing: border-box;
    }
    .logo{
        width: 200px;
        height: 64px;
        background-repeat: no-repeat;
        background-size: contain;

    }
